/* screen - take-out-checkout */

.take-out-checkout {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1189px;
  min-width: 414px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.take-out-checkout .address-KXveNS {
  background-color: transparent;
  height: 30.88%;
  left: 4.93%;
  position: absolute;
  top: 17.65%;
  width: 82.90%;
}
.take-out-checkout .background-Uvh9oG {
  background-color: var(--white);
  height: 91.75%;
  left: 0px;
  position: absolute;
  top: 5.15%;
  width: 100%;
}
.take-out-checkout .bars-status-bar-i-phone-light-C61RwL {
  background-color: var(--white);
  height: 3.03%;
  left: -6.52%;
  position: absolute;
  top: 0px;
  width: 104.59%;
}
.take-out-checkout .bars-status-bar-i-phone-light-VMr6Om {
  background-color: var(--white);
  height: 4.04%;
  left: -1.69%;
  position: absolute;
  top: -0.25%;
  width: 104.59%;
}
.take-out-checkout .battery-p815hO {
  background-color: transparent;
  height: 25.76%;
  left: 87.02%;
  position: absolute;
  top: 39.39%;
  width: 6.49%;
}
.take-out-checkout .border-fe8M3i {
  background-color: transparent;
  border-radius: 2.6666667461395264px;
  height: 100%;
  left: 0px;
  opacity: 0.35;
  position: absolute;
  top: 0px;
  width: 90.43%;
}
.take-out-checkout .cap-fe8M3i {
  background-color: transparent;
  height: 40.44%;
  left: 93.71%;
  position: absolute;
  top: 29.78%;
  width: 7.12%;
}
.take-out-checkout .capacity-fe8M3i {
  background-color: var(--port-gore);
  border-radius: 1.3333333730697632px;
  height: 64.71%;
  left: 8.22%;
  position: absolute;
  top: 17.65%;
  width: 73.99%;
}
.take-out-checkout .catalog-title-C61RwL {
  background-color: transparent;
  height: 1.67%;
  left: 37.20%;
  letter-spacing: 0.46px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 6.90%;
  width: 47.83%;
}
.take-out-checkout .cellular-connection-p815hO {
  background-color: transparent;
  height: 25.00%;
  left: 75.63%;
  position: absolute;
  top: 39.77%;
  width: 4.73%;
}
.take-out-checkout .checkout-Uvh9oG {
  background-color: var(--shiraz);
  border-radius: 4px;
  height: 53.61%;
  left: 12.32%;
  overflow: hidden;
  position: absolute;
  top: 24.74%;
  width: 78.50%;
}
.take-out-checkout .chicken-pineapple-pizza-ULxjky {
  background-color: transparent;
  height: 35.06%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 64.43%;
}
.take-out-checkout .cta-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 8.16%;
  left: 0px;
  position: absolute;
  top: 91.84%;
  width: 100%;
}
.take-out-checkout .current-location-6y1ZHY {
  background-color: transparent;
  height: 47.62%;
  left: 0px;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 46.50%;
}
.take-out-checkout .delivery-address-C61RwL {
  background-color: var(--white);
  border-radius: 8px;
  height: 11.44%;
  left: 7.00%;
  position: absolute;
  top: 38.69%;
  width: 83.33%;
}
.take-out-checkout .delivery-fee-ox1XnA {
  background-color: transparent;
  height: 10.81%;
  left: 4.62%;
  position: absolute;
  top: 55.14%;
  width: 96.53%;
}
.take-out-checkout .frame-108-C61RwL {
  background-color: var(--white);
  border-radius: 100px;
  cursor: pointer;
  height: 4.54%;
  left: 82.37%;
  position: absolute;
  top: 4.96%;
  width: 13.04%;
}
.take-out-checkout .frame-91-C61RwL {
  background-color: var(--white);
  border-radius: 100px;
  cursor: pointer;
  height: 4.04%;
  left: 6.28%;
  position: absolute;
  top: 5.21%;
  width: 11.59%;
}
.take-out-checkout .get-eta-or-wait-ing-on-your-gps-6y1ZHY {
  background-color: transparent;
  height: 61.90%;
  left: 0.35%;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 38.10%;
  width: 98.95%;
}
.take-out-checkout .group-681-C61RwL {
  background-color: transparent;
  height: 3.60%;
  left: 28.99%;
  position: absolute;
  top: 30.19%;
  width: 61.11%;
}
.take-out-checkout .group-697-C61RwL {
  background-color: transparent;
  height: 4.06%;
  left: 28.99%;
  position: absolute;
  top: 21.28%;
  width: 61.11%;
}
.take-out-checkout .group-706-4hhro9 {
  background-color: transparent;
  height: 228px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 365px;
}
.take-out-checkout .group-707-C61RwL {
  background-color: transparent;
  height: 19.18%;
  left: 6.52%;
  position: absolute;
  top: 66.95%;
  width: 88.16%;
}
.take-out-checkout .heading-ox1XnA {
  background-color: transparent;
  height: 14.05%;
  left: 4.62%;
  position: absolute;
  top: 8.65%;
  width: 91.33%;
}
.take-out-checkout .hkd10-liDlw7 {
  background-color: transparent;
  height: 100%;
  left: 82.93%;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 16.47%;
}
.take-out-checkout .hkd365-NLe2Se {
  background-color: transparent;
  height: 100%;
  left: 80.24%;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 19.16%;
}
.take-out-checkout .hkd375-3czGux {
  background-color: transparent;
  height: 100%;
  left: 80.24%;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 19.16%;
}
.take-out-checkout .hkd375-JI628I {
  background-color: transparent;
  height: auto;
  left: 266px;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.take-out-checkout .home-page-r784aF {
  background-color: transparent;
  height: 55.56%;
  left: 22.22%;
  position: absolute;
  top: 22.22%;
  width: 55.56%;
}
.take-out-checkout .icons-chevron-circle-left-cAS6cI {
  background-color: transparent;
  height: 24px;
  left: 12px;
  overflow: hidden;
  position: relative;
  top: 12px;
  width: 24px;
}
.take-out-checkout .image-15-4hhro9 {
  background-color: transparent;
  height: 18.86%;
  left: 17.53%;
  object-fit: cover;
  position: absolute;
  top: 12.28%;
  width: 12.88%;
}
.take-out-checkout .image-16-4hhro9 {
  background-color: transparent;
  height: 26.75%;
  left: 15.07%;
  object-fit: cover;
  position: absolute;
  top: 67.98%;
  width: 16.71%;
}
.take-out-checkout .image-18-C61RwL {
  background-color: transparent;
  height: 3.87%;
  left: 4.59%;
  object-fit: cover;
  position: absolute;
  top: 29.52%;
  width: 21.98%;
}
.take-out-checkout .image-19-C61RwL {
  background-color: transparent;
  height: 4.21%;
  left: 4.59%;
  object-fit: cover;
  position: absolute;
  top: 20.61%;
  width: 22.46%;
}
.take-out-checkout .image-22-C61RwL {
  background-color: transparent;
  height: 3.03%;
  left: 22.71%;
  object-fit: cover;
  position: absolute;
  top: 75.02%;
  width: 9.18%;
}
.take-out-checkout .item-total-NLe2Se {
  background-color: transparent;
  height: 100%;
  left: 0px;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 20.36%;
}
.take-out-checkout .item-total-ox1XnA {
  background-color: transparent;
  height: 10.81%;
  left: 4.62%;
  position: absolute;
  top: 35.68%;
  width: 96.53%;
}
.take-out-checkout .location-KXveNS {
  background-color: var(--salmon-pearl);
  border-radius: 30px;
  height: 23.53%;
  left: 86.09%;
  position: absolute;
  top: 17.65%;
  width: 9.28%;
}
.take-out-checkout .notes-ULxjky {
  background-color: transparent;
  height: 38.22%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 61.78%;
  width: 31.62%;
}
.take-out-checkout .notes-ycCHo2 {
  background-color: transparent;
  height: 33.84%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 66.16%;
  width: 31.62%;
}
.take-out-checkout .payment-0mlwYM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  letter-spacing: -0.24px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 27.22%;
}
.take-out-checkout .payment-C61RwL {
  background-color: transparent;
  height: 15.56%;
  left: 7.00%;
  position: absolute;
  top: 45.67%;
  width: 83.57%;
}
.take-out-checkout .payment-method-C61RwL {
  background-color: transparent;
  height: 1.68%;
  left: 11.59%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 64.26%;
  width: 37.43%;
}
.take-out-checkout .payment-methods-x74UY6 {
  background-color: transparent;
  height: 135.09%;
  left: -10.96%;
  position: absolute;
  top: -14.91%;
  width: 121.92%;
}
.take-out-checkout .pepperoni-pizza-ycCHo2 {
  background-color: transparent;
  height: 82.17%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 47.04%;
}
.take-out-checkout .place-order-JI628I {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.take-out-checkout .rectangle-1-C61RwL {
  background-color: var(--white);
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(195,63,21,0.1);;
  height: 0.33%;
  left: 11.84%;
  position: absolute;
  top: 27.90%;
  width: 21.01%;
}
.take-out-checkout .rectangle-28-Uvh9oG {
  background-color: transparent;
  height: 165.98%;
  left: -7.73%;
  position: absolute;
  top: -32.99%;
  width: 115.46%;
}
.take-out-checkout .rectangle-304-C61RwL {
  background-color: transparent;
  height: 166.78%;
  left: -6.52%;
  position: absolute;
  top: 11.44%;
  width: 110.39%;
}
.take-out-checkout .rectangle-70-PsfeUA {
  background-color: var(--salmon-pearl);
  border-radius: 30px;
  height: 50.00%;
  left: 25.00%;
  position: absolute;
  top: 25.00%;
  width: 50.00%;
}
.take-out-checkout .rectangle-71-PsfeUA {
  background-color: var(--white);
  border-radius: 30px;
  height: 87.50%;
  left: 6.25%;
  position: absolute;
  top: 6.25%;
  width: 87.50%;
}
.take-out-checkout .rectangle-71-ox1XnA {
  background-color: var(--white);
  border-radius: 8px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 99.71%;
}
.take-out-checkout .rectangle-80-C61RwL {
  background-color: var(--shiraz);
  height: 7.65%;
  left: 0px;
  position: absolute;
  top: 3.78%;
  width: 100%;
}
.take-out-checkout .service-charge-liDlw7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 31.14%;
}
.take-out-checkout .time-style-C61RwL {
  background-color: transparent;
  height: 1.77%;
  left: 2.90%;
  position: absolute;
  top: 0.67%;
  width: 13.04%;
}
.take-out-checkout .time-uYGxHG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 4px);
  white-space: nowrap;
  width: 103.70%;
}
.take-out-checkout .to-pay-3czGux {
  background-color: transparent;
  height: 100%;
  left: 0px;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 14.07%;
}
.take-out-checkout .to-pay-ox1XnA {
  background-color: transparent;
  height: 10.81%;
  left: 4.62%;
  position: absolute;
  top: 77.30%;
  width: 96.53%;
}
.take-out-checkout .vector-3-ox1XnA {
  background-color: transparent;
  height: 1.08%;
  left: 4.62%;
  position: absolute;
  top: 68.65%;
  width: 89.88%;
}
.take-out-checkout .vector-5ZdbCO {
  background-color: transparent;
  height: 64.58%;
  left: 33.75%;
  position: absolute;
  top: 18.96%;
  width: 35.42%;
}
.take-out-checkout .wifi-p815hO {
  background-color: transparent;
  height: 26.04%;
  left: 81.51%;
  position: absolute;
  top: 38.87%;
  width: 4.27%;
}
.take-out-checkout .x17500-x1-ULxjky {
  background-color: transparent;
  height: 38.22%;
  left: 69.96%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 31.75%;
  width: 28.46%;
}
.take-out-checkout .x19000-x1-ycCHo2 {
  background-color: transparent;
  height: 33.84%;
  left: 69.96%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12.99%;
  width: 28.46%;
}
.take-out-checkout .your-order-C61RwL {
  background-color: transparent;
  height: 4.54%;
  left: 3.38%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 13.96%;
  width: 68.84%;
}
